In [4]:
import pandas as pd

# 엑셀 파일 경로
file_path = '../EDA자료/pro_merge2.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(file_path)

# 데이터 확인
print("데이터 일부를 출력합니다:")
print(df.head())

# 전처리 예시: 결측치 처리 (예시로 평균값으로 대체)
df.fillna(df.mean(), inplace=True)

# 전처리된 데이터 저장
processed_file_path = "processed_pro_end.xlsx"
df.to_excel(processed_file_path, index=False)

print("전처리된 데이터가 저장되었습니다:", processed_file_path)

데이터 일부를 출력합니다:
   Unnamed: 0    기업명    사원수                                      주소  \
0           0  AB180  101 명   대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17
1           1  AB180  101 명   대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17
2           2  레몬베이스   63 명  서울 성동구 아차산로 68, (성수동2가) 11층, 12층 레몬베이스
3           3   오토위니   55 명       서울 강남구 남부순환로 2645, 3층 (도곡동, 한독빌딩)
4           4   페이타랩   68 명             서울 강남구 영동대로85길 34, (대치동) 6층

                         직무  \
0                      데브옵스
1                    서버/백엔드
2                 데이터 엔지니어링
3                    서버/백엔드
4  서버/백엔드, 웹 풀스택, 데이터 엔지니어링

                                           이용하는 기술스택  \
0    Go\nPython\nApache Druid\nAWS DynamoDB\nAWS EC2
1  AWS EC2\nAWS ECS\nAWS Lambda\nDocker\nKubernet...
2  AWS IAM\nAWS VPC\nAWS EC2\nTerraform\nDocker\n...
3  Java\nSpring\nSpring Boot\nOracle\nMySQL\nRedi...
4  Python\nFlask\nGit\nJenkins\nuWSGI\nNginx\nDoc...

                                                자격요건       직급  \
0  최소 5년 이상의 DevOps 업무 경험\n하나 이상의 개발 언어로 개발 혹은 자동...  5 ~ 10년
1  3년 내외의 백엔드 개발 경력, 또는 그에 준하는 역량을 가지신 분\nFlask, ...   1 ~ 2년
2  데이터 엔지니어 경력 2년 이상 혹은 그에 준하는 이해도가 있는 분\nSpark 및...   2 ~ 6년
3  Java, Spring Framework 기반 개발 경력 5년 이상\n주도적으로 백...  5 ~ 15년
4  【페이타랩 프로덕트팀】\n프로덕트팀은 패스오더 유저와 점주님을 연결하며 고객지향적인...  3 ~ 10년

                                                우대사항  \
0  AdTech 관련 도메인 경험\n더 적은 비용으로 시스템을 운영하기 위한 비용 관리...
1  AWS, GCP, Azure와 같은 클라우드 컴퓨팅 서비스 사용 경험이 있으신 분\...
2  AWS, GCP 등 클라우드 환경에서 데이터 인프라 설계 및 운용\nMLOps 운영...
3  Jira, Confluence 등 협업툴 사용에 익숙하신 분\n아키텍처 변경에 따른...
4  【이런 분이면 더 좋아요!】\n\nMSA를 이해하고 개발 및 설계를 경험해 보신 분...

                                          해당 페이지 URL  \
0  https://career.programmers.co.kr/job_positions...
1  https://career.programmers.co.kr/job_positions...
2  https://career.programmers.co.kr/job_positions...
3  https://career.programmers.co.kr/job_positions...
4  https://career.programmers.co.kr/job_positions...

                        기업 홈페이지 URL 업종분류 설립연도  매출액
0             https://www.ab180.co/  NaN  NaN  NaN
1             https://www.ab180.co/  NaN  NaN  NaN
2             https://lemonbase.com  NaN  NaN  NaN
3         https://www.autowini.com/  NaN  NaN  NaN
4  https://recruit.passorder.co.kr/  NaN  NaN  NaN

TypeError: can only concatenate str (not "int") to str

In [8]:
import pandas as pd
import re

# 엑셀 파일 경로
file_path = '../EDA자료/pro_end.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(file_path)

# 주소에서 구, 도, 시를 추출하는 함수
def extract_province_city_district(address):
    # 주소에 "서울"이 없는 경우 "서울특별시"로 대체
    if "서울" not in address:
        address = "서울특별시 " + address

    # 주소에 "인천"이 없는 경우 "인천광역시"로 대체
    if "인천" not in address:
        address = "인천광역시 " + address
    
    # 주소에서 "구"를 추출
    district_match = re.search(r"(\S+[구군])", address)
    district = district_match.group() if district_match else None
    
    # 주소에서 "도"를 추출
    province_match = re.search(r"(\S+[도])", address)
    province = province_match.group() if province_match else None

    # 주소에서 "시"를 추출
    city_match = re.search(r"(\S+[시도])", address)
    city = city_match.group() if city_match else None

    

    return province, city, district

# 주소 열에서 도, 시, 구를 추출하여 새로운 열에 저장
df['도'], df['시'], df['구'] = zip(*df['주소'].apply(extract_province_city_district))

# 전처리된 데이터 확인
print(df[['주소', '도', '시', '구']])

# 전처리된 데이터 저장
processed_file_path = "processed_pro_end.xlsx"
df.to_excel(processed_file_path, index=False)

print("전처리된 데이터가 저장되었습니다:", processed_file_path)

                                              주소        도      시     구
0          대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17     None  인천광역시   서초구
1          대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17     None  인천광역시   서초구
2         서울 성동구 아차산로 68, (성수동2가) 11층, 12층 레몬베이스     None  인천광역시   성동구
3              서울 강남구 남부순환로 2645, 3층 (도곡동, 한독빌딩)       (도  인천광역시   강남구
4                    서울 강남구 영동대로85길 34, (대치동) 6층     None  인천광역시   강남구
5                        서울 강남구 테헤란로25길 7, (역삼동)     None  인천광역시   강남구
6                        서울 강남구 테헤란로25길 7, (역삼동)     None  인천광역시   강남구
7                   경기도 성남시 분당구 판교로319번길 6 (삼평동)      경기도  인천광역시   분당구
8                 서울 서초구 강남대로 465, 강남 교보타워 B동 4층     None  인천광역시   서초구
9                   대한민국 서울특별시 강남구 테헤란로 217, 10층     None  인천광역시   강남구
10                                        다산로104     None  인천광역시  None
11                       서울 강남구 논현로57길 30, (도곡동)       (도  인천광역시   강남구
12                   서울 서초구 사임당로 143, (서초동) 201호     None  인천광역시   서초구
13       서울특별시 영등포구 국제금융로2길 17, 13층(여의도동, 씨티플라자)  13층(여의도  인천광역시  영등포구
14                       서울 강남구 논현로75길 16, (역삼동)     None  인천광역시   강남구
15              서울 강남구 테헤란로 147, (역삼동) 3층 위멤버스클럽     None  인천광역시   강남구
16              서울 강남구 테헤란로 147, (역삼동) 3층 위멤버스클럽     None  인천광역시   강남구
17                          서울 종로구 종로 51, (종로2가)     None  인천광역시   종로구
18  서울특별시 강남구 도산대로 145 인우빌딩 4층 408호 (패스트파이브 신사점)     None  인천광역시   강남구
19        대한민국 서울특별시 성동구 연무장7길 11, 플레이스캠프 성수 10층     None  인천광역시   성동구
20         서울 금천구 벚꽃로 244, (가산동) 벽산디지털밸리 5차 301호     None  인천광역시   금천구
21                      서울 강남구 테헤란로87길 33, (삼성동)     None  인천광역시   강남구
22           서울 성동구 성수일로 77, (성수동1가) 1104, 1113호     None  인천광역시   성동구
23                    서울 강남구 강남대로 388, (역삼동) 15층     None  인천광역시   강남구
24              경기 성남시 분당구 분당수서로 477, (정자동), 16층     None  인천광역시   분당구
25               서울 강남구 삼성로 507, (삼성동) 제이에스타워 2층     None  인천광역시   강남구
26                인천 연수구 컨벤시아대로 165, (송도동) , 31층      (송도  서울특별시   연수구
27                인천 연수구 컨벤시아대로 165, (송도동) , 31층      (송도  서울특별시   연수구
28                인천 연수구 컨벤시아대로 165, (송도동) , 31층      (송도  서울특별시   연수구
29                인천 연수구 컨벤시아대로 165, (송도동) , 31층      (송도  서울특별시   연수구
30                        서울 서초구 동작대로 212, (방배동)     None  인천광역시   서초구
31                             서울시 서초구 서리풀길 29-9     None  인천광역시   서초구
32                 서울 서초구 사평대로55길 33, (반포동) 203호     None  인천광역시   서초구
33          서울 성동구 아차산로 17, (성수동1가) 서울숲엘타워 1301호     None  인천광역시   성동구
34              서울 강남구 삼성로85길 26, (대치동) V&S빌딩 7층     None  인천광역시   강남구
35                서울 마포구 월드컵로10길 5-6, (서교동) 1,2층     None  인천광역시   마포구
36                 서울 성동구 연무장길 76, (성수동2가) 1108호     None  인천광역시   성동구
37                 서울 마포구 잔다리로 39, (서교동) 로뎀빌딩 5층     None  인천광역시   마포구
38             경기도 성남시 수정구 창업로54, LH 성장기업센터 232호      경기도  인천광역시   수정구
39             경기도 성남시 수정구 창업로54, LH 성장기업센터 232호      경기도  인천광역시   수정구
40                   서울 강남구 테헤란로 501, (삼성동) 719호     None  인천광역시   강남구
41                       서울 강남구 삼성동 144-5 (에이타워)     None  인천광역시   강남구
42               서울 서초구 동작대로 230, (방배동) 화련회관 10층     None  인천광역시   서초구
43                      서울 서대문구 연세로 50, 공학원 417호     None  인천광역시  서대문구
44                  서울 영등포구 의사당대로 83, (여의도동) 17층     (여의도  인천광역시  영등포구
45                  서울 영등포구 의사당대로 83, (여의도동) 17층     (여의도  인천광역시  영등포구
46    서울 강남구 테헤란로87길 36 (삼성동, 도심공항타워) 12층 델레오코리아     None  인천광역시   강남구
47                       01849 서울 노원구 동일로174길 27     None  인천광역시   노원구
전처리된 데이터가 저장되었습니다: processed_pro_end.xlsx

In [9]:
import pandas as pd
import re

# 엑셀 파일 경로
file_path = '../EDA자료/pro_end.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(file_path)

# 주소에서 구, 도, 시를 추출하는 함수
def extract_province_city_district(address):
    # 주소에 "서울"이 없는 경우 "서울특별시"로 대체
    if "서울" not in address:
        address = "서울특별시 " + address

    # 주소에 "인천"이 없는 경우 "인천광역시"로 대체
    if "인천" not in address:
        address = "인천광역시 " + address
    
    # 주소에서 "구"를 추출
    district_match = re.search(r"(\S+[구군])", address)
    district = district_match.group() if district_match else None
    
    # 주소에서 "도"를 추출
    province_match = re.search(r"\b(\S+[도시])\b", address)
    province = province_match.group() if province_match else None

    # 주소에서 "시"를 추출
    city_match = re.search(r"\b(\S+[시군구])\b", address)
    city = city_match.group() if city_match else None

    return province, city, district

# 주소 열에서 도, 시, 구를 추출하여 새로운 열에 저장
df['도'], df['시'], df['구'] = zip(*df['주소'].apply(extract_province_city_district))

# 전처리된 데이터 확인
print(df[['주소', '도', '시', '구']])

# 전처리된 데이터 저장
processed_file_path = "processed_pro_end.xlsx"
df.to_excel(processed_file_path, index=False)

print("전처리된 데이터가 저장되었습니다:", processed_file_path)

                                              주소      도      시     구
0          대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17  인천광역시  인천광역시   서초구
1          대한민국 서울특별시 서초구 강남대로61길 17, 강남대로61길 17  인천광역시  인천광역시   서초구
2         서울 성동구 아차산로 68, (성수동2가) 11층, 12층 레몬베이스  인천광역시  인천광역시   성동구
3              서울 강남구 남부순환로 2645, 3층 (도곡동, 한독빌딩)  인천광역시  인천광역시   강남구
4                    서울 강남구 영동대로85길 34, (대치동) 6층  인천광역시  인천광역시   강남구
5                        서울 강남구 테헤란로25길 7, (역삼동)  인천광역시  인천광역시   강남구
6                        서울 강남구 테헤란로25길 7, (역삼동)  인천광역시  인천광역시   강남구
7                   경기도 성남시 분당구 판교로319번길 6 (삼평동)  인천광역시  인천광역시   분당구
8                 서울 서초구 강남대로 465, 강남 교보타워 B동 4층  인천광역시  인천광역시   서초구
9                   대한민국 서울특별시 강남구 테헤란로 217, 10층  인천광역시  인천광역시   강남구
10                                        다산로104  인천광역시  인천광역시  None
11                       서울 강남구 논현로57길 30, (도곡동)  인천광역시  인천광역시   강남구
12                   서울 서초구 사임당로 143, (서초동) 201호  인천광역시  인천광역시   서초구
13       서울특별시 영등포구 국제금융로2길 17, 13층(여의도동, 씨티플라자)  인천광역시  인천광역시  영등포구
14                       서울 강남구 논현로75길 16, (역삼동)  인천광역시  인천광역시   강남구
15              서울 강남구 테헤란로 147, (역삼동) 3층 위멤버스클럽  인천광역시  인천광역시   강남구
16              서울 강남구 테헤란로 147, (역삼동) 3층 위멤버스클럽  인천광역시  인천광역시   강남구
17                          서울 종로구 종로 51, (종로2가)  인천광역시  인천광역시   종로구
18  서울특별시 강남구 도산대로 145 인우빌딩 4층 408호 (패스트파이브 신사점)  인천광역시  인천광역시   강남구
19        대한민국 서울특별시 성동구 연무장7길 11, 플레이스캠프 성수 10층  인천광역시  인천광역시   성동구
20         서울 금천구 벚꽃로 244, (가산동) 벽산디지털밸리 5차 301호  인천광역시  인천광역시   금천구
21                      서울 강남구 테헤란로87길 33, (삼성동)  인천광역시  인천광역시   강남구
22           서울 성동구 성수일로 77, (성수동1가) 1104, 1113호  인천광역시  인천광역시   성동구
23                    서울 강남구 강남대로 388, (역삼동) 15층  인천광역시  인천광역시   강남구
24              경기 성남시 분당구 분당수서로 477, (정자동), 16층  인천광역시  인천광역시   분당구
25               서울 강남구 삼성로 507, (삼성동) 제이에스타워 2층  인천광역시  인천광역시   강남구
26                인천 연수구 컨벤시아대로 165, (송도동) , 31층  서울특별시  서울특별시   연수구
27                인천 연수구 컨벤시아대로 165, (송도동) , 31층  서울특별시  서울특별시   연수구
28                인천 연수구 컨벤시아대로 165, (송도동) , 31층  서울특별시  서울특별시   연수구
29                인천 연수구 컨벤시아대로 165, (송도동) , 31층  서울특별시  서울특별시   연수구
30                        서울 서초구 동작대로 212, (방배동)  인천광역시  인천광역시   서초구
31                             서울시 서초구 서리풀길 29-9  인천광역시  인천광역시   서초구
32                 서울 서초구 사평대로55길 33, (반포동) 203호  인천광역시  인천광역시   서초구
33          서울 성동구 아차산로 17, (성수동1가) 서울숲엘타워 1301호  인천광역시  인천광역시   성동구
34              서울 강남구 삼성로85길 26, (대치동) V&S빌딩 7층  인천광역시  인천광역시   강남구
35                서울 마포구 월드컵로10길 5-6, (서교동) 1,2층  인천광역시  인천광역시   마포구
36                 서울 성동구 연무장길 76, (성수동2가) 1108호  인천광역시  인천광역시   성동구
37                 서울 마포구 잔다리로 39, (서교동) 로뎀빌딩 5층  인천광역시  인천광역시   마포구
38             경기도 성남시 수정구 창업로54, LH 성장기업센터 232호  인천광역시  인천광역시   수정구
39             경기도 성남시 수정구 창업로54, LH 성장기업센터 232호  인천광역시  인천광역시   수정구
40                   서울 강남구 테헤란로 501, (삼성동) 719호  인천광역시  인천광역시   강남구
41                       서울 강남구 삼성동 144-5 (에이타워)  인천광역시  인천광역시   강남구
42               서울 서초구 동작대로 230, (방배동) 화련회관 10층  인천광역시  인천광역시   서초구
43                      서울 서대문구 연세로 50, 공학원 417호  인천광역시  인천광역시  서대문구
44                  서울 영등포구 의사당대로 83, (여의도동) 17층  인천광역시  인천광역시  영등포구
45                  서울 영등포구 의사당대로 83, (여의도동) 17층  인천광역시  인천광역시  영등포구
46    서울 강남구 테헤란로87길 36 (삼성동, 도심공항타워) 12층 델레오코리아  인천광역시  인천광역시   강남구
47                       01849 서울 노원구 동일로174길 27  인천광역시  인천광역시   노원구
전처리된 데이터가 저장되었습니다: processed_pro_end.xlsx